/* --------------------------------------------------------
Style Sheet for christof.digital

version: 0.9
last modified: 3.11.2021 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Gotu&display=swap");

:root {
  --color-brand: #C90076;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ==========================================================================
	General overrides and utilities
	========================================================================== */

html, body {
	scroll-behavior: smooth;
}

::selection {
  @apply text-brand bg-gray-100;
}

::-moz-selection {
  @apply text-brand bg-gray-100;
}

.link {
  @apply text-brand;
}

.link:hover {
  @apply text-brand underline;
}

/* ==========================================================================
	Navigation
	========================================================================== */

.active-nav {
  @apply font-bold border-b-2 border-brand dark:bg-brand;
}

.mobile-menu .active-nav {
  @apply font-bold bg-brand text-white border-b-0;
}


/* ==========================================================================
	Forms 
	========================================================================== */

input {
  @apply px-4 py-2 
    border focus:outline-none focus:ring-1 focus:ring-brand text-brand 
    dark:bg-black dark:text-gray-300 dark:border-brand;
}

textarea {
  @apply px-4 py-2 
    border focus:outline-none focus:ring-1 focus:ring-brand text-brand 
    dark:bg-black dark:text-gray-300 dark:border-brand;
}

.button {
  @apply w-48 my-8 px-8 py-4 
  bg-brand text-white rounded shadow-2xl
    hover:shadow hover:cursor-pointer
    transition-all
}


/* ==========================================================================
	Timeline
	========================================================================== */

.timeline a {
  color: var(--color-brand);
}

.timeline a:hover {
  text-decoration: underline;
}


/* ==========================================================================
	Mapbox overrides
	========================================================================== */

.mapboxgl-canvas {
  @apply absolute top-0 bottom-0 left-0 w-full h-full;
}

.mapboxgl-popup {
  @apply text-left min-w-3/4 lg:min-w-1/2 overflow-hidden; 
}

div.mapboxgl-popup-content {
  @apply p-2 bg-gray-200 dark:bg-gray-700;
}

.mapboxgl-popup-content div {
  @apply text-sm px-4 py-5 shadow font-sans bg-white dark:bg-black dark:text-white;
}

.mapboxgl-popup-content span {
  @apply text-xs;
}

.mapboxgl-popup-content h1 {
  @apply text-2xl leading-7 my-3;
}

.mapboxgl-popup-content h2 {
  @apply mt-6 mb-1 text-lg text-brand font-bold;
}

.mapboxgl-popup-content img {
  @apply w-full shadow-lg;
}

.mapboxgl-popup-close-button {
  @apply text-3xl px-4 py-1 hover:text-brand dark:text-white;
}
